*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: sans-serif;
}
nav{
    margin-top: 1vw;
    height: 13vh;
    width: 100%;
    background-color: seagreen;
}
.logo{
    color: white;
    font-size: 3vw;
    font-weight: 800;
    line-height: 12vh;
    padding: 0 100px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}
nav a{
    color: white;
    font-size: 1.5vw;
    font: 500;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a:active,a:hover{
    border: 1px solid rgb(250, 249, 249);
}
.vedio video{
    position: absolute;
    right: 0;
    margin: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9){
    .vedio video{
        width: 100%;
        height: auto;
    }
}